.nav-link {
    margin-right: 60px;
}

*.icon-white {
    color: white;
}

*.icon-silver {
    color: silver;
}

*.icon-green {
    color: darkseagreen;
}

*.icon-dark {
    color: darkgray;
}

.btn-primary {

    background-color: cornflowerblue;
    border-color: cornflowerblue;
}

.btn-secondary {

    background-color: darkgray;
    border-color: darkgray;
}

.page-link {
    color: cornflowerblue;
}

.page-item.active .page-link {
    z-index: 1;
    color: #fff;
    background-color: cornflowerblue;
    border-color: cornflowerblue;
}

.bg-default-card .card-header {
    background-color: lightgoldenrodyellow;
}

.bg-default-card .card-body {
    background-color: lightyellow;
}

a {
    color: cornflowerblue;
}

@media screen and (max-width: 768px) {
    div.full-details {display: none;}
    div.less-details {display: block;}

}

@media screen and (max-width: 768px) and (max-width: 1024px){
    div.full-details {display: block;}
    div.less-details {display: none;}
    .hideable-column {display: none;}

}

@media screen and  (max-width: 1024px){
    div.less-details {display: none;}
    .hideable-column {display: table-cell;}

}



