<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: page_head('Orders - MyShop Admin', 'none')"></head>
<body>
<div class="container-fluid">
    <div th:replace="navigation :: menu"></div>
    <div class="p-3">
        <h2>Manage Orders</h2>
    </div>

    <div th:replace="fragments :: search_form_and_message('/orders/page/1')"></div>

    <div>
        <table class="table table-bordered table-striped table-hover table-responsive-xl text-center">
            <thead class="thead-dark">
            <tr>
                <th th:replace="fragments :: column_link('/orders', 'id', 'ID')"></th>
                <th th:replace="fragments :: column_link('/orders', 'customer', 'Customer')"></th>
                <th th:replace="fragments :: column_link('/orders', 'total', 'Total')"></th>
                <th th:replace="fragments :: column_link('/orders', 'orderTime', 'Order Time')"></th>
                <th th:replace="fragments :: column_link('/orders', 'destination', 'Destination')"></th>
                <th th:replace="fragments :: column_link('/orders', 'paymentMethod', 'Payment Method')"></th>
                <th th:replace="fragments :: column_link('/orders', 'status', 'Status')"></th>
                <th>Action</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="order : ${listOrders}">
                <td>[[${order.id}]]</td>
                <td>
                    <a style="color: cornflowerblue" class="linkCustomerDetail"
                       th:href="@{'/customers/detail/' + ${order.customer.id}}">
                        [[${order.customer.fullName}]]
                    </a>
                </td>
                <td>
                    <div th:replace="fragments :: format_currency(${order.total})"></div>
                </td>
                <td>
                    <div th:replace="fragments :: format_time(${order.orderTime})"></div>
                </td>
                <td>[[${order.destination}]]</td>
                <td>[[${order.paymentMethod}]]</td>
                <td>[[${order.status}]]</td>
                <td>
                    <a class="fas fa-file-alt fa-2x icon-green linkOrderDetail"
                       th:href="@{'/orders/detail/' + ${order.id}}"
                       title="View details of this order"></a>
                    &nbsp;
                    <div th:replace="fragments :: edit('order', '/orders/edit/' + ${order.id})"></div>
                    &nbsp;
                    <div th:replace="fragments :: delete('order', ${order.id}, '/orders/delete/'+ ${order.id}, true)"></div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <div th:replace="fragments :: pagination('/orders', 'orders')"></div>
    <div th:replace="modal_fragments :: confirm_modal"></div>

    <div class="modal fade" id="customerDetailModal">
        <div class="modal-dialog modal-lg">
            <div class="modal-content"></div>
        </div>
    </div>

    <div class="modal fade" id="orderDetailModal">
        <div class="modal-dialog modal-xl">
            <div class="modal-content"></div>
        </div>
    </div>

    <div th:replace="fragments :: footer"></div>
</div>
<script th:src="@{/js/common_list.js}"></script>
<script type="text/javascript">
    moduleURL = "[[@{/orders}]]";

    $(document).ready(function () {
        handleLinkViewCustomerDetails();
        handleLinkViewOrderDetails();
        handleLinkDeleteOrder();
    });

    function handleLinkDeleteOrder() {
        $(".link-delete").on("click", function (e) {
            e.preventDefault();
            showDeleteConfirmModal($(this), 'order');
        });
    }

    function handleLinkViewCustomerDetails() {
        $(".linkCustomerDetail").on("click", function (e) {
            e.preventDefault();
            linkDetailURL = $(this).attr("href");
            $("#customerDetailModal").modal("show").find(".modal-content").load(linkDetailURL);
        });
    }

    function handleLinkViewOrderDetails() {
        $(".linkOrderDetail").on("click", function (e) {
            e.preventDefault();
            linkDetailURL = $(this).attr("href");
            $("#orderDetailModal").modal("show").find(".modal-content").load(linkDetailURL);
        });
    }
</script>
</body>
</html>