<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: page_head(${pageTitle}, 'none')"></head>
<body>
<div class="container-fluid">
    <div th:replace="navigation :: header_menu"></div>

    <div th:replace="breadcrumb :: content"></div>


    <div class="row text-center">
        <th:block th:each="cat : ${category.children}">
            <div class="col" th:if="${cat.enabled == true}">
            <a th:href="@{'/c/' + ${cat.alias}}">
                <b>[[${cat.name}]]</b>
            </a>
            </div>
        </th:block>
   </div>

    <div class="row">&nbsp;</div>
    <div class="row">
        <th:block th:each = "product : ${listProducts}">
            <div class="col">
                <a th:href="@{'/p/' + @{product.alias}}">
                  <div>
                    <b>[[${product.shortName}]]</b>
                  </div>
                </a>
                <div th:if="${product.discountPercent <= 0 } ">
                    <span>Руб. [[${product.price}]]</span>
                </div>

                <div th:if="${product.discountPercent > 0 } ">
                    <span style="font-size: large; color: darkred">Руб. [[${product.discountPrice}]]</span>
                    <del><span>Руб. [[${product.price}]]</span></del>
                </div>
            </div>
        </th:block>
    </div>

    <div th:replace="fragments :: pagination('/c/' + ${category.alias}, 'product')"></div>



    <div th:replace="navigation :: footer_menu"></div>
</div>
</body>
</html>