<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: page_head('Forgot Password', 'none')"></head>
<body>
<div class="container-fluid text-center">
    <div th:replace="navigation :: header_menu"></div>
    <div>&nbsp;</div>
    <div class="pb-1">
        <h2>Forgot Password</h2>
    </div>

    <form th:action="@{/forgot_password}" method="post" style="max-width: 520px; margin: 0 auto">

        <div th:if="${error != null}">
            <p class="text-danger">[[${error}]]</p>
        </div>

        <div class="border border-secondary rounded p-3">
            <div>
                <p style="font-size: large">We will be sending a reset password link to your email.</p>
            </div>
            <div>
                <p>
                    <input type="email" name="email" class="form-control" placeholder="Enter your e-mail" required
                           autofocus/>
                </p>
            </div>
            <div class="pt-1">
                <p>
                    <input type="submit" value="Send" class="btn btn-primary"/>
                </p>
            </div>
        </div>
    </form>

    <div>&nbsp;</div>

    <div th:replace="navigation :: footer_menu"></div>

</div>
</body>
</html>