*.icon-white {
    color: white;
}

*.icon-silver {
    color: silver;
}

*.icon-green {
    color: darkseagreen;
}

*.icon-dark {
    color: darkgray;
}

.btn-primary {

    background-color: cornflowerblue;
    border-color: cornflowerblue;
}

.btn-secondary {

    background-color: lightslategray;
    border-color: lightslategray;
}

.page-link {
    color: cornflowerblue;
}

.page-item.active .page-link {
    z-index: 1;
    color: #fff;
    background-color: cornflowerblue;
    border-color: cornflowerblue;
}

.nav-link {
    margin-right: 60px;
}