<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: page_head('Categories - Bookstore Admin')"></head>
<body>
<div class="container-fluid">

    <div th:replace="navigation :: menu"></div>

    <div class="p-3">
        <h2>Manage Categories</h2>
        <a class="fas fa-folder-plus icon-green fa-2x" th:href="@{/categories/new}" title="Create New Category"></a>
    </div>
    <div th:if="${message != null}" class="alert alert-success text-center">
        [[${message}]]
    </div>

    <div class="full-details">
        <table class="table table-bordered table-striped table-hover table-responsive-xl text-center">
            <thead class="thead-dark">
            <tr>
                <th>ID</th>
                <th>
                    <a class="text-white" th:href="@{'/categories/page/' + ${pageNum} + '?sortDir=' + ${reverseSortDir}}">Name</a>
                    <span th:class="${reverseSortDir == 'desc' ? 'fas fa-sort-up' : 'fas fa-sort-down'}"></span>
                </th>
                <th>Alias</th>
                <th>Enabled</th>
                <th>Action</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="category : ${categories}">
                <td>[[${category.id}]]</td>
                <td>[[${category.name}]]</td>
                <td>[[${category.alias}]]</td>
                <td>
                    <div th:replace="fragments :: category_status"></div>
                </td>
                <td>
                    <div th:replace="fragments :: category_action"></div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <div th:replace="fragments :: pagination('/categories', 'top-level categories')"></div>

    <div th:replace="modal_fragments :: confirm_modal"></div>

    <div th:replace="fragments :: footer"></div>
</div>
<script th:src="@{/js/common_list.js}"></script>
<script type="text/javascript">

    moduleURL = "[[@{/categories}]]";

    $(document).ready(function () {
        $(".link-delete").on("click", function (e) {
            e.preventDefault();
            showDeleteConfirmModal($(this), 'category');
        });
    });
</script>
</body>
</html>