<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: page_head('Products - Bookstore Admin', 'none')"></head>
<body>
<div class="container-fluid">

    <div th:replace="navigation :: menu"></div>

    <div class="p-3">
        <h2>Manage Products</h2>
        <a class="fas fa-folder-plus icon-green fa-2x" th:href="@{/products/new}" title="Create New Product"></a>
    </div>

    <div th:replace="fragments :: search_form_and_message('/products/page/1')"></div>

    <div class="full-details">
        <table class="table table-bordered table-striped table-hover table-responsive-xl text-center">
            <thead class="thead-dark">
            <tr>
                <th th:replace="fragments :: column_link('/products', 'id', 'ID')"></th>
                <th th:replace="fragments :: column_link('/products', 'name', 'Name')"></th>
                <th th:replace="fragments :: column_link('/products', 'author', 'Author')"></th>
                <th th:replace="fragments :: column_link('/products', 'category.name', 'Category')"></th>
                <th>Enabled</th>
                <th>Action</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="product : ${products}">
                <td>[[${product.id}]]</td>
                <td>
                    <a class="link-detail" th:href="@{'/products/detail/' + ${product.id}}"
                       title="View details of this product">
                        [[${product.name}]]
                    </a>
                </td>
                <td>[[${product.author}]]</td>
                <td>[[${product.category.name}]]</td>
                <td>
                    <div th:replace="fragments :: status(${product.enabled}, 'product', '/products/' + ${product.id})"></div>
                </td>
                <td>
                    <a class="fas fa-file-alt fa-2x icon-green link-detail"
                       th:href="@{'/products/detail/' + ${product.id}}"
                       title="View details of this product"></a>
                    &nbsp;&nbsp;
                    <div th:replace="fragments :: edit('product', '/products/edit/' + ${product.id})"></div>
                    &nbsp;&nbsp;
                    <div th:replace="fragments :: delete('product', ${product.id}, '/products/delete/' + ${product.id}, true)"></div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <div th:replace="modal_fragments :: confirm_modal"></div>

    <div class="modal fade" id="detailModal">
        <div class="modal-dialog modal-xl">
            <div class="modal-content">

            </div>
        </div>
    </div>

    <div th:replace="fragments :: pagination('/products', 'products')"></div>

    <div th:replace="fragments :: footer"></div>
</div>
<script th:src="@{/js/common_list.js}"></script>
<script type="text/javascript">

    moduleURL = "[[@{/products}]]";

    $(document).ready(function () {
        $(".link-delete").on("click", function (e) {
            e.preventDefault();
            showDeleteConfirmModal($(this), 'product');
        });

        $(".link-detail").on("click", function (e) {
            e.preventDefault();
            linkDetailURL = $(this).attr("href");
            $("#detailModal").modal("show").find(".modal-content").load(linkDetailURL);
        });
    });
</script>
</body>
</html>