<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: page_head('Users - Bookstore Admin')"></head>
<body>
<div class="container-fluid">

    <div th:replace="navigation :: menu"></div>

    <div class="p-3">
        <h2>Manage Users</h2>
        <a class="fas fa-user-plus icon-green fa-2x" th:href="@{/users/new}" title="Create New User"></a>
    </div>
    <div th:if="${message != null}" class="alert alert-success text-center">
        [[${message}]]
    </div>

    <div>
        <form th:action="@{/users/page/1}" class="form-inline m-3">
            <input type="hidden" name="sortField" th:value="${sortField}"/>
            <input type="hidden" name="sortDir" th:value="${sortDir}"/>

            Filter:&nbsp;
            <input type="search" name="keyword" th:value="${keyword}" class="form-control" required/>
            &nbsp;&nbsp;
            <input type="submit" value="Search" class="btn btn-primary"/>
            &nbsp;&nbsp;
            <input type="button" value="Clear" class="btn btn-secondary" onclick="clearFilter()"/>
        </form>
    </div>

    <div>
        <table class="table table-bordered table-striped table-hover table-responsive-xl text-center">
            <thead class="thead-dark">
            <tr>
                <th th:replace="fragments :: column_link('id', 'ID')"></th>
                <th th:replace="fragments :: column_link('email', 'E-mail')"></th>
                <th th:replace="fragments :: column_link('firstName', 'First Name')"></th>
                <th th:replace="fragments :: column_link('lastName', 'Last Name')"></th>
                <th>Roles</th>
                <th th:replace="fragments :: column_link('enabled', 'Enabled')"></th>
                <th>Action</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="user : ${users}">
                <td>[[${user.id}]]</td>
                <td>[[${user.email}]]</td>
                <td>[[${user.firstName}]]</td>
                <td>[[${user.lastName}]]</td>
                <td>[[${user.roles}]]</td>
                <td>
                    <div th:replace="fragments :: user_status"></div>
                </td>
                <td>
                    <div th:replace="fragments :: user_action"></div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <div th:replace="fragments :: pagination('/users', 'users')"></div>

    <div th:replace="modal_fragments :: confirm_modal"></div>

    <div th:replace="fragments :: footer"></div>
</div>
<script th:src="@{/js/common_list.js}"></script>
<script type="text/javascript">

    moduleURL = "[[@{/users}]]";

    $(document).ready(function () {
        $(".link-delete").on("click", function (e) {
            e.preventDefault();
            showDeleteConfirmModal($(this), 'user');
        });
    });

</script>
</body>
</html>